<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="res/main.css">
<script src="res/main.js"></script>
<title><%= title %></title>
</head>

<body>
<h1>Dashboard</h1>

<div id="passwords"></div>

<script>
</script>

</html>

