<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="res/main.css">
<title><%= title %></title>
</head>

<body>
<h1>SimpManager</h1>
<a style="position: absolute; left: 25vw;" href="register">Register</a>
<a style="position: absolute; right: 25vw;" href="login">Login</a>
</body>

</html>

